extends layout

block content
  h1= title
  
  ul
    - items_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each item in items_list
      li 
        p #[a(href=item.url) #{item.name}] category: #[a(href=item.category.url) #{item.category.name}]
            

    else
      li There are no items.