extends layout

block content
  h1 #{item.name}
  
  p #[strong Category:] #[a(href=item.category.url) #{item.category.name}]
  p #[strong Description:] #{item.description}
  p #[strong Stock:] #{item.stock}
  p #[strong Price:] $#{item.price}

    p
      a(href=item.url+'/delete') Delete Item
    p
      a(href=item.url+'/update') Update Item